In [55]:
import pandas as pd
import os
import numpy as np

In [56]:
pwd

'C:\\Users\\Admin\\Desktop\\PW\\PredictivePacers2\\Processed Data'

In [57]:
df = pd.read_csv(r"C:\\Users\\Admin\\Desktop\\PW\\PredictivePacers2\\Raw Data\\bbf.csv")
#df.drop('Unnamed: 0',axis = 1, inplace =True)
df

,Player,Overs,Mdns,Runs,Wkts,Econ,Team,Opposition,Ground,Match Date,Scorecard
0,M Kartik,10.0,3,27,6,2.70,India,v Australia,Wankhede,17 Oct 2007,ODI # 2632
1,KH MacLeay,11.5,3,39,6,3.29,Australia,v India,Nottingham,13 Jun 1983,ODI # 207
2,AB Agarkar,9.3,1,42,6,4.42,India,v Australia,Melbourne,09 Jan 2004,ODI # 2077
3,YS Chahal,10.0,-,42,6,4.20,India,v Australia,Melbourne,18 Jan 2019,ODI # 4079
4,MA Starc,10.0,2,43,6,4.30,Australia,v India,Melbourne,18 Jan 2015,ODI # 3582
...,...,...,...,...,...,...,...,...,...,...,...
95,CJ McDermott,10.0,-,36,3,3.60,Australia,v India,Sharjah,29 Mar 1985,ODI # 325
96,MG Hughes,7.0,-,36,3,5.14,Australia,v India,Hamilton,08 Mar 1990,ODI # 618
97,B Lee,9.0,1,36,3,4.00,Australia,v India,Centurion,15 Feb 2003,ODI # 1951
98,BKV Prasad,10.0,-,37,3,3.70,India,v Australia,Bengaluru,21 Oct 1996,ODI # 1129
99,Harbhajan Singh,9.0,-,37,3,4.11,India,v Australia,Indore,31 Mar 2001,ODI # 1699

In [51]:
df.drop(['RR','Match Date','Scorecard','Overs'],axis = 1,inplace =True)
df

       Team 1     Team 2  Runs  Wkts        Ground
0   Australia      India   727    13        Sydney
1       India  Australia   721     6        Jaipur
2       India  Australia   717    15        Mohali
3       India  Australia   709    16     Bengaluru
4       India  Australia   701    10        Nagpur
..        ...        ...   ...   ...           ...
95      India  Australia   448    15      Srinagar
96  Australia      India   446    13     Melbourne
97      India  Australia   445    13        Kanpur
98      India  Australia   433    15  Eden Gardens
99      India  Australia   431    15     Bengaluru

[100 rows x 5 columns]

In [52]:
df_encoded = pd.get_dummies(df, columns=['Team 1', 'Team 2','Ground'])
df_encoded

,Runs,Wkts,Team 1_Australia,Team 1_India,Team 2_Australia,Team 2_India,Ground_Adelaide,Ground_Ahmedabad,Ground_Bengaluru,Ground_Brisbane,...,Ground_Pune,Ground_Rajkot,Ground_Ranchi,Ground_Sharjah,Ground_Srinagar,Ground_Sydney,Ground_The Oval,Ground_Vadodara,Ground_Visakhapatnam,Ground_Wankhede
0,727,13,1,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,721,6,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,717,15,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,709,16,0,1,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,701,10,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,448,15,0,1,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
96,446,13,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
97,445,13,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
98,433,15,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99,431,15,0,1,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [53]:
df_encoded.to_csv('proc_total_runsandwickets.csv',index=False)